<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Contact</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
  <!--header section start -->
  <div class="header_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="width: 130px;" class="logo"><a href="index.ejs"><img src="images/URL_logo.png"></a></div>
        </div>
        <div class="col-md-9">
          <div class="menu_text">
            <ul>
              <div class="togle_3">
                <div class="menu_main">
                  <div class="follow_social_icon">
                    <ul>
                      <li><a href="https://www.facebook.com/kou92official"><img src="images/fb-icon1.png"></a></li>
                      <li><a href="https://twitter.com/kou92official"><img src="images/twitter-icon1.png"></a></li>
                      <li><a href="https://www.linkedin.com/school/kocaeli-university/"><img src="images/linkden-icon1.png"></a></li>
                      <li><a href="https://instagram.com/kou92official"><img src="images/instagram-icon1.png"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="shoping_bag"><img src="images/search-icon.png"></div>
              </div> 
              <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                <a href="index.ejs">Anasayfa</a>
                <a href="statistics.ejs">İstatistikler</a>
                <a href="about.ejs">URL Kısaltıcı Nedir?</a>
                <a href="choose.ejs">Sayılarla Sayfamız</a>
                <a href="team.ejs">URL Kısaltma İşlemleri</a>
                <a href="contact.ejs">İletişim</a>
              </div>
              </div>
              <span class="navbar-toggler-icon"></span>
              <span onclick="openNav()"><img src="images/toggle-icon.png" class="toggle_menu"></span>
            </ul>
          </div>      
        </div>
      </div>
    </div>
  </div>
  
    <!-- header section end -->
   
    <!-- footer section start -->
    <div class="footer_section layout_padding">
      <div class="container">
        <div class="footer_main">
          <div class="footer_left">
            <h1 class="contact_taital"><span>İletişim</span></h1>
          </div>
          <div class="footer_left">
            <div class="location_text"><a href="#"><img src="images/map-icon.png"><span class="padding_left_15">Konum</span></a></div>
          </div>
          <div class="footer_left">
            <div class="location_text"><a href="#"><img src="images/call-icon.png"><span class="padding_left_15">0538 476 11 23</span></a></div>
          </div>
          <div class="footer_left">
            <div class="location_text"><a href="#"><img src="images/map-icon.png"><span class="padding_left_15">buseetinn@gmail.com</span></a></div>
          </div>
        </div>
        <div class="contact_section">
          <div class="row">
            <div class="col-md-6">
              <div class="mail_section">
                <form id="style" action="https://formspree.io/f/mzbwldzz" method="POST">
                  <br><br><br>
                <table>
                  <tr>
                      <td class="location_text">Ad:</td>
                      <td><input type="text" name="adsoyad" /></td>
                  </tr>
                  <tr>
                      <td class="location_text">E-Posta:</td>
                      <td><input type="text" name="email" /></td>
                  </tr>
                  <tr>
                      <td class="location_text">Konu:</td>
                      <td><input type="text" name="konu" /></td>
                  </tr>
                  <tr>
                      <td class="location_text">Mesajınız</td>
                      <td><textarea name="mesaj" style="width:300px;height:70px"></textarea></td>
                  </tr>
                  <tr>
                    <td colspan="4"><button type="submit" class="form-control-submit-button" >Gönder</button></td>
                </tr>
              </table>
              </div>
            </div>
            <div class="col-md-6">
              <div class="map_main">
                <div class="map-responsive">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.9738092713196!2d28.01626200104566!3d41.33940015567731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b5296d0842d585%3A0xf7f1d6faa6dd25a9!2sP%C4%B1nar%C3%A7a%20ilk%20ve%20orta%20okul!5e0!3m2!1str!2str!4v1671452453312!5m2!1str!2str" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <div class="follow_social_icon">
                <ul>
                  <li><a href="https://www.facebook.com/kou92official"><img src="images/fb-icon1.png"></a></li>
                  <li><a href="https://twitter.com/kou92official"><img src="images/twitter-icon1.png"></a></li>
                  <li><a href="https://www.linkedin.com/school/kocaeli-university/"><img src="images/linkden-icon1.png"></a></li>
                  <li><a href="https://instagram.com/kou92official"><img src="images/instagram-icon1.png"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- footer section end -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript --> 
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".fancybox").fancybox({
    openEffect: "none",
    closeEffect: "none"
    });
         
    $(".zoom").hover(function(){
         
    $(this).addClass('transition');
    }, function(){
         
    $(this).removeClass('transition');
    });
    });
    </script> 
    <script>
     function openNav() {
     document.getElementById("myNav").style.width = "100%";
    }
     function closeNav() {
     document.getElementById("myNav").style.width = "0%";
    }
    </script>  
</body>
</html>