
<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>BestURL</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
  <!--header section start -->
  <div class="header_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="width: 160px;" class="logo"><a href="../html/login_admin.html"><img src="images/admin_logo.png"></a></div>
        </div>
        <div class="col-md-9">
          <div class="menu_text">
            <ul>
              <div class="togle_3">
                <div class="menu_main">
                  <div class="follow_social_icon">
                    <ul>
                      <li><a href="https://www.facebook.com/kou92official"><img src="images/fb-icon1.png"></a></li>
                      <li><a href="https://twitter.com/kou92official"><img src="images/twitter-icon1.png"></a></li>
                      <li><a href="https://www.linkedin.com/school/kocaeli-university/"><img src="images/linkden-icon1.png"></a></li>
                      <li><a href="https://instagram.com/kou92official"><img src="images/instagram-icon1.png"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="shoping_bag"><img src="images/search-icon.png"></div>
              </div> 
              <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                <a href="index.ejs">Anasayfa</a>
                <a href="statistics.ejs">İstatistikler</a>
                <a href="about.ejs">URL Kısaltıcı Nedir?</a>
                <a href="choose.ejs">Sayılarla Sayfamız</a>
                <a href="team.ejs">URL Kısaltma İşlemleri</a>
                <a href="contact.ejs">İletişim</a>
              </div>
              </div>
              <span class="navbar-toggler-icon"></span>
              <span onclick="openNav()"><img src="images/toggle-icon.png" class="toggle_menu"></span>
            </ul>
          </div>      
        </div>
      </div>
    </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h1 class="banner_taital">URL Kısaltıcı Nedir?</h1>
            <p class="banner_text">URL kısaltma, orijinal link uzunluğunu belirli araçlarla kısaltarak paylaşabilmenizi sağlıyor. Uzun bir link bağlantısını ortalama 15 karaktere kadar düşürerek kullanıcıya büyük kolaylık sunuyor. Özellikle karakter sınırlamasına sahip sosyal medya platformlarında daha kısa linklerle paylaşım yapmanıza olanak sağlıyor.</p>
            
          </div>
          <div class="col-sm-2">
            <div class="play_icon"><a href="#"><img src="images/play-icon.png"></a></div>
          </div>
          <div class="col-sm-5">
            <div><img src="images/url_shorter.png" class="image_1"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner section end -->
    </div>
    <!-- header section end -->
    <!-- services section start -->
    <div class="services_section layout_padding">
      <div class="container">
        <h1 class="services_taital"><span>Hakkımızda</span></h1>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="services_section_2 layout_padding">
                <div class="row">
                  <div class="col-md-4">
                    <div class="box_section">
                      <p class="lorem_text">Kullanıcılar kısa URL'ye erştiğinde, servis onları orjnal bağlantıya yönlendirmektedir.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="box_section active">
                      <p class="lorem_text active">Kullanıcılar isteğe bağlı olarak URL'ler için 10 karaktere kadar özel br takma ad
                        seçeblmektedir.
                         </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="box_section">
                      <p class="lorem_text">Kısaltılmış bağlantılar, belirli bir zaman aralığından sonra otomatik olarak geçerliliğini yitirecektir. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="services_section_2 layout_padding">
                <div class="row">
                    <div class="col-md-4">
                      <div class="box_section">
                        <p class="lorem_text">Kullanıcılar kısa URL'ye erştiğinde, servis onları orjnal bağlantıya yönlendirmektedir.</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box_section active">
                        <p class="lorem_text active">Kullanıcılar isteğe bağlı olarak URL'ler için 10 karaktere kadar özel br takma ad
                          seçeblmektedir.
                           </p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box_section">
                        <p class="lorem_text">Kısaltılmış bağlantılar, belirli bir zaman aralığından sonra otomatik olarak geçerliliğini yitirecektir. </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="services_section_2 layout_padding">
                <div class="row">
                    <div class="col-md-4">
                      <div class="box_section">
                        <p class="lorem_text">Kullanıcılar kısa URL'ye erştiğinde, servis onları orjnal bağlantıya yönlendirmektedir.</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box_section active">
                        <p class="lorem_text active">Kullanıcılar isteğe bağlı olarak URL'ler için 10 karaktere kadar özel br takma ad
                          seçeblmektedir.
                           </p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box_section">
                        <p class="lorem_text">Kısaltılmış bağlantılar, belirli bir zaman aralığından sonra otomatik olarak geçerliliğini yitirecektir. </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- services section start -->
    <!-- about section start -->
    <div class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div ><img style="height: 450px;" src="images/url.png" class="image_2"></div>
          </div>
          <div class="col-md-6">
            <h1 class="services_taital"><span>URL Kısaltma</span></h1>
            <p class="ipsum_text">Link kısaltma, spesifik bir web sayfasına giden orijinal bağlantı adreslerini birkaç karakterlik kısa adreslere dönüştürme işlemidir. URL, link ya da bağlantı olarak adlandırılan adresler, belirli bir IP adresine kayıtlı sayfanın tarayıcıda görüntülenmesini sağlayan karakterler bütünüdür. Normal şartlarda son derece uzun olan bu linkler, birtakım servisler ile kısaltıldığında daha pratik bir şekilde kullanılabilir.</p>
            <div class="contact_bt_1"><a href="about.ejs">Daha fazla...<span class="contact_padding"><img src="images/contact-icon1.png"></span></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- about section end -->
    <!-- choose section start -->
    <div class="images_main_1">
      <div class="row">
        <h1 class="choose_taital"><span>Sayılarla Sayfamız</span></h1>
        <div class="col-sm-5">
          <div class="image_4"><img src="images/sayilarla_sayfamiz.png"></div>
         
        </div>
        <div class="col-sm-7">
          <div class="choose_section_2 layout_padding">
            <div class="row">
              <div class="col-lg-10 col-sm-7">
                <div class="choose_box">
                  <h1 class="client_taital">13+</h1>
                  <h4 class="client_text">Tıklanma Sayısı</h4>
                </div>
              </div>  
              <div class="col-sm-10">
                <div class="choose_section_2 layout_padding">
                  <div class="row">
                    <div class="col-lg-12 col-sm-7">
                      <div class="choose_box">
                        <h1 class="client_taital">12 </h1>
                        <h4 class="client_text">Toplam Kısaltılan URL Sayısı</h4>
                      </div>
                    </div>        
                  </div>
                </div>
                </div>
                
              </div>      
            </div>
          </div>
          </div>
        </div>
    
    <!-- choose section end -->


    <!-- footer section start -->
    <div class="footer_section layout_padding">
      <div class="container">
        <div class="footer_main">
          <div class="footer_left">
            <h1 class="contact_taital"><span>Sayfalarımız</span></h1>
          </div>
          <div class="footer_left">
            <div class="location_text"><a href="#"><img src="images/map-icon.png"><span class="padding_left_15">Konum</span></a></div>
          </div>
          <div class="footer_left">
            <div class="location_text"><a href="#"><img src="images/call-icon.png"><span class="padding_left_15">0538 476 11 23</span></a></div>
          </div>
          <div class="footer_left">
            <div class="location_text"><a href="#"><img src="images/map-icon.png"><span class="padding_left_15">buseetinn@gmail.com</span></a></div>
          </div>
        </div>
        <div class="contact_section">
          <div class="row">
            <div class="col-md-6">
              <div class="mail_section">
                <div class="col-md-6">
                  <div class="text-container">
                      <ul class="list-unstyled li-space-lg white">
                          <li>
                            <div class="location_text"><a href="services.ejs"><img><span class="padding_left_15">İstatistikler</span></a> </div> 
                          </li>
                          <li>
                            <div class="location_text"><a href="about.ejs"><img><span class="padding_left_15">URL Kısaltıcı Nedir?</span></a> </div> 
                          </li>
                          <li>
                            <div class="location_text"><a href="choose.ejs"><img><span class="padding_left_15">Sayılarla Sayfamız</span></a> </div> 
                          </li>
                          <li>
                            <div class="location_text"><a href="team.ejs"><img><span class="padding_left_15">URL Kısaltma </span></a> </div> 
                          </li>
                          <li>
                            <div class="location_text"><a href="contact.ejs"><img><span class="padding_left_15">İletişim</span></a> </div> 
                          </li>
                      </ul>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
              
              </div>
            </div>
            <div class="col-md-6">
              <div class="map_main">
                <div class="map-responsive">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.9738092713196!2d28.01626200104566!3d41.33940015567731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b5296d0842d585%3A0xf7f1d6faa6dd25a9!2sP%C4%B1nar%C3%A7a%20ilk%20ve%20orta%20okul!5e0!3m2!1str!2str!4v1671452453312!5m2!1str!2str" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <div class="social_icon">
                <ul>
                  <li><a href="https://www.facebook.com/kou92official"><img src="images/fb-icon1.png"></a></li>
                  <li><a href="https://twitter.com/kou92official"><img src="images/twitter-icon1.png"></a></li>
                  <li><a href="https://instagram.com/kou92official"><img src="images/instagram-icon1.png"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section end -->

    <!-- Javascript files-->
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/jquery-3.0.0.min.js"></script>
    <script src="../public/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="../public/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../public/js/custom.js"></script>
    <!-- javascript --> 
    <script src="../public/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".fancybox").fancybox({
    openEffect: "none",
    closeEffect: "none"
    });
         
    $(".zoom").hover(function(){
         
    $(this).addClass('transition');
    }, function(){
         
    $(this).removeClass('transition');
    });
    });
    </script> 
    <script>
     function openNav() {
     document.getElementById("myNav").style.width = "100%";
    }
     function closeNav() {
     document.getElementById("myNav").style.width = "0%";
    }
    </script>  
</body>
</html>